html,
body {
  font-family: 'Roboto', sans-serif;
}

.collapsible {
    cursor: pointer;
}

.collapsible div {
  padding: 0 18px;
  display: block;
  overflow: hidden;
}

.collapsible.closed div {
    display: none;
}
.initial {
    display: block !important;
}
.collapsible.closed h5::before {
    content: "+ ";
    font-size: 1.2em;
}
.collapsible h5::before {
    content: "- ";
    font-size: 1.2em;
}
.collapsible.closed::after {
    content: " ... ";
    font-size: 1.5em;
}

.show-bottom .level0.initial:after {
    content: "\A        ? ..." !important;
    white-space: pre;
}

#search {
  display: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.back-to-unity-group {
  margin-left: 15px;
  color: white;
}

.back-to-unity {
  color: white;
  background: url(../styles/sprites.png) right -112px no-repeat;
  padding: 0 31px 0 0;
  text-decoration: none;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
}

.back-to-unity:hover {
  color: #2196f3;
}

/* Unity accessibility */
.declaration, .fieldValue, .parameters, .returns {
  color: #4C4C4C;
}

/* add spacing around the logo */
#autocollapse .navbar-brand {
  margin-left: 0;
  padding: 0.6em;
}

div.alert-info a
{
    color: midnightblue;
}

/* Remove padding added around searched-for terms on a page */
mark {
    padding: unset;
}

/* For code example copy button and confirmation message */
button.copy-code {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px 8px;
    font-size: 16px;
    background: #444;
    color: white;
    border: none;
    border-radius: 4px;
    outline-offset: 2px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 100;
}

button.copy-code:hover {
    color: MistyRose;
}

/* Styling for the tab buttons and tabbed sections */
.tab-buttons { /* Style the button container */
    display: flex;
    justify-content: flex-start;
    background-color: #6d6d6d;
    padding: 2px 2px 2px 2px;
    border-radius: 5px 5px 0px 0px;
}

.tab-links {
    background-color: #999;
    color: #4d4d4d;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 17px;
    border-radius: 5px 5px 0 0; /* Rounded top corners */
    margin-right: 4px; /* Small gap between buttons */
    position: relative;
    z-index: 10;
}

.tab-links.active {
    background-color: #f5f5f5;
    color: black;  
    transform: translateY(6px); /* Move button when clicked */
    border-bottom-style: dashed;
    border-color: #e5e5e5;
    border-width: 1px;
}

.tab-links:hover {
    color: black;
}

.tab-content {
    display: none;
    padding: 6px 6px 6px 6px;
    margin-top: 3px;
    border: 1px solid #2d2d2d;
    border-radius: 0px 0px 5px 5px;
    background-color: #f5f5f5;
}

.sideaffix > .bs-docs-sidebar {
  overflow-x: hidden;
}

.sideaffix > div.contribution {
  margin-bottom: 0;
}

.affix h5 {
  margin-top: 0;
}

.sideaffix {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

